.dropdown {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    outline: none;
}
.dropdown__title {
    border-bottom: 1px solid var(--black-color);
    text-transform: uppercase;
    color: var(--black-color);
    padding-bottom: 15px;
    margin-top: auto;
    cursor: pointer;
    @include transition(200);
    user-select: none; 
}
.dropdown__list{
    border: 1px solid var(--black-color);
    border-top: 0px solid var(--black-color);
    background-color: var(--white-color);
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 11;
    outline: none;

    @include transition(300);
    @include scroll-container(2);
    @include max(sm){
        top: 50px;
    }
}
.dropdown__listActive {
    overflow: auto;
    opacity: 1;
    height: 240px;
}

.dropdown__item {
    padding: 8px;
    color: var(--black-color);
    text-transform: uppercase;
    cursor: pointer;
    @include transition(200);

    &:hover{
        background-color: var(--black-color);
        color: var(--white-color);
    }
}