.pokemon__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pokemon__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 0.2rem;
    text-align: center;
}

.pokemon__card__grid{
    min-width: calc(25% );

    @include max(md){
        min-width: 33.33%;
    }
    @include max(sm){
        min-width: 100%;
    }
}
.pokemon__card__list{
    min-width: 100%;

    @include max(sm){
        min-width: 100%;
    }
}