.loading__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;

    opacity: 0;
    pointer-events: none;
}
.loading__wrapper__visible{
    opacity: 1;
    pointer-events: all;
}
.spinner__box{
    width: 430px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner__img{
    height: 200px;
    width: 200px;
    animation: spin .9s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
   100%{
        transform: rotate(360deg);
    }
}