.config{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--black-color);
    margin: 40px auto;
    align-items: center;

    @include max(md){
        flex-wrap: wrap;
    }
    @include max(sm){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 32px 0;
    }
}

.sort__dropdown{
    margin-left: auto;
    width: 200px;
    height: 60px;

    @include max(lg){
        width: 170px;
    }
    @include max(md){
        margin-left: unset;
        height: 60px;
    }
    @include max(sm){
        margin: 0;
        width: 100%;
        margin-top: 16px;
        height: 50px;
    }
}

.search__wrapper{
    margin: 0 100px;
    width: 200px;
    height: 60px;

    @include max(lg){
        margin: 0 25px;
        width: 170px;
    }
    @include max(md){
        width: 170px;
        margin: 0;
        margin-right: auto;
        height: 60px;
    }
    @include max(sm){
        margin: 0;
        width: 100%;
        margin-top: 16px;
        height: 50px;
    }
}

.display__type{
    width: 100px;

    @include max(lg){
        width: 100px;
    }
    @include max(md){
        width: 125px;
        margin-right: 10px;
    }
    @include max(sm){
        display: none;
    }
}

.pokemon__title{
    text-transform: uppercase;
    @include max(md){
        width:calc(100% - 170px);
        margin: 0;
    } 
    @include max(sm){
        margin: 0;
        width: 100%;
    }
}
