.search__wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.result__wrapper{
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 11;
    width: 300px;
    height: 300px;
    border-radius: 0.2rem;
    background-color: var(--black-color);

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color)
}

