.header{
    background-color: var(--black-color);
    height: 80px;
    width: 100%;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo__wrapper{
    width: 150px;
}

.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}