.modal__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: var(--black-color), $alpha: 0.5);
    width: 100%;
    height: 100vh;
    z-index: 11111;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__body{
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    display: flex;
    position: relative;
    overflow: auto;

    @include scroll-container(4);
}

.close__wrapper {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    background-color: var(--white-color);
    border-radius: 50%;
    padding: 5px;
    will-change: transform;
    width: 30px;
    height: 30px;
    
    @include transition(300);

    &:hover{
        @include min(sm){
            transform: rotate(180deg);
        }
    }

    @include max(sm){
        top: 20px;
        right: 20px;
    }
}

.close__icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
