.input{
    position: relative;
    height: 100%;
    width: 100%;
}

.input__field{
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: var(--white-color);
    height: 100%;
    width: 100%;
    border-bottom: 1px solid var(--black-color);
    color: var(--black-color);
    font-size: 15px;
    padding-top: 10px;
    padding-right: 40px;
    line-height: 120%;
    letter-spacing: 0.02em;
    font-family: "Oswald Light";
    border-radius: 0;

    font-size: 24px;

    @include max(sm){
        font-size: 18px
    }
}

.input__placeholder{
    will-change: transform;
    position: absolute;
    pointer-events: none;
    bottom: 17px;
    color: var(--black-color);
    text-transform: uppercase;
    @include transition(200);
}
.input__placeholderActive{
    transform: scale(0.7) translate(-35px, -35px);
    opacity: 0.7;

    @include max(sm){
        transform: scale(0.7) translate(-26px, -32px);
    }
}

.search__icon{
    position: absolute;
    right: 0;
    top: 60%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.error{
    color: var(--red-color);
    font-size: 14px;
    position: absolute;
    bottom: -15px;
    left: 0px;
}