.display__type{
    color: var(--black-color);
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 100%;
}

.grid__type , .list__type{
    display: block;
    margin: 0 5px;
    @include transition(200);
    cursor: pointer;
}

.active__grid{
    .grid__type{
        opacity: 0.6;
    }
}

.active__list{
    .list__type{
        opacity: 0.6;
    }
}