h3 {
    margin-bottom: 0.2rem;
}
.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    border: 1px solid var(--gray-color);
    border-radius: 0.2rem;

    width: 100%;
    height: 100%;

    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);

    cursor: pointer;

    

    @include min(sm){
        &:hover{
            @include transition(200);
            background-color: var(--black-color);
            color: var(--white-color);
        }
    }
}

.pokemon__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pokemon__grid {
    flex-direction: column;
    justify-content: center;
}

.pokemon__list {
    padding-left: 10px;
    flex-direction: row;
    justify-content: space-between;

    .pokemon__detail{
        width: 50%;
    }
}

.pokemon__types{
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.pokemon__type{
    margin: 0 2px;
    display: block;
    background-color: var(--green-color);
    border-radius: 5px;
    padding: 1px 10px 3px;
    color: var(--black-color);
}

.pokemon__number {
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
    background-color: rgba(255, 255, 255, 0.3);
}

.pokemon__img {
    width: 120px;
    height: 120px;
}

.pokemon small {
    text-transform: capitalize;
}


// pokemon modal styles
.modal__wrapper{
    padding: 60px 5vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include max(sm){
        padding: 30px 5vw;
    }
}

.modal__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.modal__name{
    color: var(--white-color);
    text-transform: uppercase;
}

.modal__imageWrapper{
    width: 200px;
    height: 200px;
    margin-right: 50px;
    border-bottom: 1px solid var(--white-color);

    @include max(sm){
        width: 100px;
        height: 100px;
    }
}

.modal__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.modal__movesTitle , .modal__statsTitle{ 
    text-transform: uppercase;
}

.modal__movesTitle{
    color: var(--green-color);
    margin-right: auto;
}

.modal__statsTitle{
    color: var(--blue-color);
    margin-right: auto;
}

.modal__statsList , .modal__movesList{
    width: 100%;
    border: 1px solid var(--black-color);
    border-radius: 4px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.modal__move , .modal__stat{
    color: var(--black-color);
    padding: 1px 20px 3px;
    line-height: 120%;
    border: 1px solid var(--black-color);
    border-radius: 4px;
    margin: 5px;
    display: block;
    text-transform: uppercase;
}

.modal__move{
    background-color: var(--green-color);
}

.modal__stat{
    background-color: var(--blue-color);   
}


