.modal-enter {
    opacity: 0;
    transform: scale(0.5);
}
.modal-enter-active {
    opacity: 1;
    transform: scale(1);
    @include transition(300);
}
.modal-exit {
    opacity: 1;
    transform: scale(1);
}
.modal-exit-active {
    opacity: 0;
    transform: scale(0.5);
    @include transition(300);
}