$black-color : rgb(0, 0, 0);
$low-black-color : rgba($color: $black-color, $alpha: 0.5) ;
$white-color : rgb(255, 255, 255);
$red-color : rgb(255, 30, 30);
$blue-color: rgb(30, 203, 255);


:root {
    --black-color: rgb(0, 0, 0);
    --white-color: rgb(255, 255, 255);
    --green-color: rgb(94, 255, 153);
    --blue-color: rgb(103, 232, 255);
    --gray-color: #efefef;
    --red-color: #ff0000;
}