@font-face {
    font-family: "Oswald";
    src: url("../media/fonts/Oswald/Oswald-VariableFont_wght.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Oswald Light";
    src: url("../media/fonts/Oswald/Oswald-VariableFont_wght.ttf");
    font-weight: 200;
    font-display: swap;
}