@import "./fonts.scss";
@import "./utils.scss";
@import './animation.scss';

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: "Oswald Light";
}
body {
    margin: 0;
    overscroll-behavior: none;
    background-color: var(--white-color);
    

    @include scroll-container(4);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: unset;

    font-size: 24px;

    @include max(sm){
        font-size: 18px
    }
}

a {
    text-decoration: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

label {
    cursor: default;
}

input,
textarea {
    cursor: default;

    &::placeholder {
        transition: 0.3s;
    }

    &:focus,
    &:active {
        &::placeholder {
            opacity: 0;
        }
    }
}

textarea::-webkit-scrollbar {
    display: none;
}

img {
    background-size: cover;
    background-position: center;
}

button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

span,
p {
    line-height: 1;
}



.h2 {
    text-transform: uppercase;
}
.container {
    width: 90vw;
    margin: 0 auto;
}
.load-more {
    height: 2px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}
