@import './colors.scss';

$breakpoints: (
    xs: 500,
    sm: 600,
    md: 768,
    xmd: 900,
    lg: 1200,
);

@mixin max($size) {
    @if map-has-key($breakpoints, $size) {
        @media (max-width: #{map-get($breakpoints, $size)}px) {
            @content;
        }
    } @else {
        @media (max-width: #{$size}px) {
            @content;
        }
    }
}

@mixin min($size) {
    @if map-has-key($breakpoints, $size) {
        @media (min-width: #{map-get($breakpoints, $size)}px) {
            @content;
        }
    } @else {
        @media (min-width: #{$size}px) {
            @content;
        }
    }
}

@mixin scroll-container($width) {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 ($width+px ) var(--black-color);
        background-color: var(--black-color);
    }

    &::-webkit-scrollbar {
        width: ($width+px );
        background-color:var(--black-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color : var(--white-color);
        width: ($width+px );
    }
}

@mixin transition($time){
    transition: all ($time+ ms) cubic-bezier(0.4, 0, 0.2, 1) 0s;
}